.advantages__slogan {
	color: @gray;
  padding-bottom: 24px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 58px;
  padding-bottom: 320px;
  background: url("../../img/bg-triangle-white.svg") no-repeat top;
  
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
}

.advantages__item {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.slogan-wrapper {
  background:@white;
  padding-top: 40px;
}
.advantages__wrapper {
background: url("../../img/iphone-screen-mobile@1x.png") no-repeat bottom;
}