.advantages__slogan {
  color: @blue;
  padding-bottom: 31px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 347px;
  background: url("../../img/bg-triangle-white.svg") no-repeat top;
}

.advantages__title {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
}

.advantages__item {
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.slogan-wrapper {
  background: @white;
  padding-top: 41px;
  padding-bottom: 3px;
}

.advantages__wrapper {
  background: url("../../img/iphone-screen-mobile@1x.png") no-repeat bottom;
}
