.app {
  color: @white;
}

.app__slogan {
  position: relative;
  display: block;
  min-height: 365px;
  padding-top: 23px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.app__download--wrap {
  background: @gray;
  padding-top: 27px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 49px;
  padding: 0;
  margin: 0 auto;
  border: 3px solid @white;
  border-radius: 27px;
  font-weight: 700;
}

.app__intro {
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 111px;
  text-align: center;
}
