.photo-block {
  min-height: 171px;
}

.photo-block__slogan {
  padding-top: 30px;
  padding-bottom: 84px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 0 -66px;
  background-repeat: no-repeat;
}

.photo-block__description {
  background: @white;
  padding: 45px 30px;
}
