body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: @gray;
  background: #f2f2f2;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

svg {
  fill: #d22856;
}

.visually-hidden {
  display: none;
}

.slogan {
  color: @white;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}
