.header-wrapper {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.header-wrapper--cross {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .header-wrapper {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .header-wrapper {
    width: 150px;
    margin: 0;
  }
}
