.main-nav {
  background: @blue;
}

.main-nav__wrapper {
  color: @white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #000000;
}

@media (min-width: @desktop-width) {
  .main-nav {
    background: rgba(#10161c, 0);
  }

  .main-nav__wrapper {
    width: 790px;
  }

  .main-nav__list {
    justify-content: center;
    align-items: center;
    border-top: 0;
  }
}
