.main-nav {
  background: @gray;
  list-style: none;
  color: #ffffff;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.site-list {
  list-style: none;
}

.site-list__item {
  padding-top: 18px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #000000;
}
