.market {
  color: @white;
  display: flex;
  flex-direction: column;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 110px;
  background-repeat: no-repeat;
}

.market__slogan {
  color: @white;
  min-height: 370px;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.market__wrap {
  background: @blue;
  padding-top: 24px;
  padding-bottom: 30px;
}

.market__button {
  padding-top: 28px;
}

.market__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 24px;
  padding-left: 57px;
  padding-right: 57px;
}

.market__link {
  display: flex;
  width: 47px;
  height: 56px;
}

.market__link--iPhone {
  background: url("../img/logo-apple.svg") no-repeat bottom;
}

.market__link--android {
  background: url("../img/logo-android.svg") no-repeat bottom;
}

.market__link--microsoft {
  background: url("../img/logo-microsoft.svg") no-repeat bottom;
}

.market__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .market {
    width: 640px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px 72px;
    padding-left: 20px;
    padding-bottom: 85px;
  }

  .market__slogan {
    min-height: 152px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
  }

  .market__wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: rgba(@blue, 0);
  }

  .market__list {
    padding-top: 44px;
    padding-bottom: 38px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .market__intro {
    display: block;
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .market {
    width: 1200px;
    padding-left: 130px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 145px 98px;
    padding-bottom: 94px;
  }

  .market__slogan {
    padding-top: 108px;
  }

  .market__wrap {
    padding-top: 52px;
  }

  .market__list {
    padding-top: 67px;
    padding-bottom: 55px;
  }
}
