.page-header {
  margin-top: 259px;
  margin-bottom: -396px;
}

.page-header__logo {
  display: block;
  height: 22px;
  width: 75px;
  padding-top: 22px;
  padding-bottom: 25px;
}

.page-header__toggle {
  position: absolute;
  right: 0;
  top: 21px;
  width: 50px;
  height: 23px;
  background: url("../img/icon-menu-burger.svg") no-repeat;
  border: 0;
}

.page-header__toggle--cross {
  position: absolute;
  right: 0;
  top: 21px;
  width: 24px;
  height: 23px;
  background: url("../img/icon-menu-cross.svg") no-repeat;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: -619px;
  }

  .page-header__logo {
    height: 40px;
    padding-top: 27px;
    padding-bottom: 42px;
  }

  .page-header__logo-image {
    height: 40px;
    width: 147px;
  }

  .page-header__toggle {
    position: absolute;
    right: 0;
    top: 44px;
  }

  .page-header__toggle--cross {
    position: absolute;
    right: 0;
    top: 45px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin: 0;
    margin-bottom: -744px;
  }

  .page-header__toggle--cross {
    display: none;
  }

  .page-header__logo {
    height: 40px;
  }
}
