.page-footer {
  background: @white;
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 40px;
}
