.slogan-wrapper {
  display: flex;
  flex-direction: column;
  background: @white;
  padding-top: 41px;
  padding-bottom: 3px;
}

@media (min-width: @tablet-width) {
  .slogan-wrapper {
    width: 660px;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .slogan-wrapper {
    width: 1200px;
  }
}
