.slogan,
.slogan__wide,
.slogan__nerrow {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.slogan__wide {
  padding-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .slogan {
    width: 240px;
    font-size: 40px;
    line-height: 49px;
  }

  .slogan__wide {
    width: 660px;
    font-size: 40px;
    line-height: 50px;
  }

  .slogan__nerrow {
    width: 360px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .slogan__wide {
    width: 820px;
    font-size: 50px;
    line-height: 60px;
  }

  .slogan__nerrow {
    width: 420px;
    font-size: 50px;
    line-height: 60px;
  }
}
