.slogan-wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: @white;
  padding-top: 41px;
  padding-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .slogan-wrapper {
    width: 660px;
    padding-top: 42px;
  }
}

@media (min-width: @desktop-width) {
  .slogan-wrapper {
    width: 1200px;
    padding-top: 65px;
    padding-bottom: 76px;
  }
}
